* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    margin: 0;
    padding: 0;
  }

  .counter{
    display: flex;
  flex-direction:column;
  justify-content:space-around;
  width: 550px;
  min-height: 200px;
  max-height: 600px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 40px;
  background-color: white;
  align-items: center;
};
  